config local
	option GatewayID ''
	option ExternalInterface 'eth0'
	option GatewayInterface 'br-lan'
	option GatewayAddress '192.168.1.1'
	option HtmlMessageFile '/etc/wifidog-msg.html'
	option Daemon '1'
	option GatewayPort '2060'
	option ProxyPort '0'
	option HTTPDName 'WiFiDog'
	option HTTPDMaxConn '20'
	option HTTPDRealm 'WiFiDog'
	option HTTPDUserName ''
	option HTTPDPassword ''
	option CheckInterval '90'
	option ClientTimeout '4'
	option TrustedMACList ''

config authserver
	option Hostname 'auth.ilesansfil.org'
	option SSLAvailable 'yes'
	option SSLPort '443'
	option Path '/'
config authserver
	option Hostname 'auth2.ilesansfil.org'
	option SSLAvailable 'yes'
	option SSLPort '443'
	option Path '/'

config FWRS_global
	option proto ''
	option src ''
	option src_port ''
	option dest '192.168.0.0/16'
	option dest_port ''
	option action 'block'

config FWRS_global
	option proto ''
	option src ''
	option src_port ''
	option dest '172.16.0.0/12'
	option dest_port ''
	option action 'block'

config FWRS_global
	option proto ''
	option src ''
	option src_port ''
	option dest '10.0.0.0/8'
	option dest_port ''
	option action 'block'

config FWRS_global
	option proto ''
	option src ''
	option src_port ''
	option dest '0.0.0.0/0'
	option dest_port ''
	option action 'log'

config FWRS_validating-users
	option proto ''
	option src ''
	option src_port ''
	option dest '0.0.0.0/0'
	option dest_port ''
	option action 'allow'

config FWRS_known-users
	option proto ''
	option src ''
	option src_port ''
	option dest '0.0.0.0/0'
	option dest_port ''
	option action 'allow'

config FWRS_unknown-users
	option proto 'udp'
	option src ''
	option src_port ''
	option dest ''
	option dest_port '53'
	option action 'allow'

config FWRS_unknown-users
	option proto 'tcp'
	option src ''
	option src_port ''
	option dest ''
	option dest_port '53'
	option action 'allow'

config FWRS_unknown-users
	option proto 'udp'
	option src ''
	option src_port ''
	option dest ''
	option dest_port '67'
	option action 'allow'

config FWRS_unknown-users
	option proto 'tcp'
	option src ''
	option src_port ''
	option dest ''
	option dest_port '67'
	option action 'allow'

config FWRS_unknown-users
	option proto 'udp'
	option src ''
	option src_port ''
	option dest ''
	option dest_port '22'
	option action 'drop'

config FWRS_unknown-users
	option proto 'tcp'
	option src ''
	option src_port ''
	option dest ''
	option dest_port '22'
	option action 'drop'

config FWRS_locked-users
	option proto ''
	option src ''
	option src_port ''
	option dest '0.0.0.0/0'
	option dest_port ''
	option target 'block'
